.App {
  text-align: center;
  font-size: 2rem;
  margin: 10rem auto;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  height: auto;
  padding: 2rem;
  margin: 0 auto;
}

.timer-section {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .App {
    margin: 5rem auto;
  }
}
